html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  background-color: #34495E;
  background-size: cover;
  overflow-y: hidden;
}

#center-wrap {
  position: relative;
  top: 10%;
  text-align: center;
}


#title {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
}

#title h1 {
  font-size: 6.5em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

#nav-icons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

.btn-circle {
  cursor: pointer;
  width: 7.5em;
  height: 7.5em;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: white;
  border:2px solid white;
  line-height: 1.42;
  border-radius: 50%;
  background-color: inherit;
  margin: 0px 16px 10px 16px;
  transition: all 0.3s;
}

.btn-circle:hover {
  background-color: white;
  color: #34495E;
}

.btn-circle2 {
  width: 18em;
  height: 2em;
  font-size: 2.1em;
  border: 2px solid white;
  line-height: 1.42;
  border-radius: 30px;
  background-color: inherit;
  color: white;
  margin: 40px auto 0px auto;
  transition: all 0.3s;
  display: block;
  font-weight: 100;
  padding-top: 0.2em;
}

.btn-circle2:hover {
  background-color: white;
  color: #34495E;
  text-decoration: none;
}

button:focus { outline-style: none; }


/*Projects page*/
#corner {
  position: absolute;
  top: 2%;
  left: 1%;
  text-align: center;
  font-size: 1.5em;
  width: 5.5em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0px;
}

#slider-wrap {
  position: relative;
  top: 2%;
  text-align: center;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  width:100%
}

.myProjects {
  margin: 0px auto 1em auto;
  width: 95%;
  height: 30%;
}

.text-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-wrapper .text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  line-height: 30px;
  bottom:186px;
  left:0px;

  font-size: 18px;
  font-weight: 300;

  color: rgba(0,0,0,0.0);
  background-color:rgba(0,0,0,0.0);
  box-shadow: 0 0 0 0;
  border-radius: 2px;

  transition: all 0.2s ease-in;
}

.text-wrapper .text a {
  color: rgba(0,0,0,0.0);
  transition: all 0.2s ease-in;
}

.text-wrapper:hover .text {
  color: rgba(255,255,255,1);
  background-color:rgba(0,0,0,0.8);
  box-shadow: black 0 0 10px -1px;
}

.text-wrapper:hover .text a {
  color: rgba(255,255,255,1);
}

.nav-button {
  background: none;
  border: none;
  font-size: 5em;
  opacity: 1;
  color: white;
}

.imageDisplay {
  width: 100%;
}

.display-left {
  position: absolute;
  top: 30%;
  left: -3%;
  text-shadow: rgba(255, 255, 255, 0) 0 0 10px;
  transition: all 0.2s;
}

.display-right {
  position: absolute;
  top: 30%;
  right: -3%;
  text-shadow: rgba(255, 255, 255, 0) 0 0 10px;
  transition: all 0.2s;
}

.display-left:hover, .display-right:hover {
  text-shadow: white 0 0 10px;
}


/*13 inch Laptops*/
@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1280px) {
  .text-wrapper {
    width: 75%;
  }
}

/*Mobile devices in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation: portrait) {

  body {
    overflow-y: scroll;
  }
  
  #center-wrap {
    top: 2%;
  }

  #title h1 {
    font-size: 8em;
  }

  .projectsMobile {
    margin-top: 18%;
  }

  #nav-icons {
    width: 100%;
    margin-top: 0px;
  }

  .btn-circle {
    width: 92%;
    height: 2.6em;
    font-size: 5em;
    border: 2px solid white;
    line-height: 1.42;
    border-radius: 30px;
    background-color: inherit;
    color: white;
    margin: 55px auto 0px auto ;
    transition: all 0.3s;
    display: block;
  }

  #projectsBtn {
    width: 92%;
    height: 2.6em;
    font-size: 5em;
    border: 2px solid white;
    line-height: 1.42;
    border-radius: 30px;
    background-color: inherit;
    color: white;
    margin: 55px auto 0px auto ;
    transition: all 0.3s;
    display: block;
    padding-top: 0.6em;
  }

  #slider-wrap {
    width: 92%;
    height: 40%;
    top: 5%;
  }

  .text-wrapper {
    width: 100%;
  }

  #corner {
    font-size: 2.5em;
  }
}

/*Mobile devices in landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation: landscape) {

  #center-wrap {
    top: 3%;
  }

  #title h1 {
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

/*iPad & tablets in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait) {

  #slider-wrap {
    width: 92%;
    height: 50%;
    top: 5%;
  }

  .text-wrapper {
    width: 100%;
  }

  #corner {
    font-size: 2.5em;
  }

}



/*Large screens*/
/*@media only screen
and (min-device-width: 1700px) {
}*/
