html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  background-color: #34495E;
  background-size: cover;
  overflow-y: hidden;
}

#projects {
  overflow-y: scroll;
}

/*Keep content aligned vetically/horizontally */
#center-wrap {
  position: relative;
  top: 10%;
  text-align: center;
}

/* profile picture */
#profile {
  border-radius: 50%;
  width: 10.2em;
  height: 10.2em;
}

#title {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
}

#title h1 {
  font-size: 6.5em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

#tagline h4{
  font-family: inherit;
  font-weight: 300;
}

#nav-icons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

.btn-circle {
  cursor: pointer;
  width: 2.7em;
  height: 2.7em;
  text-align: center;
  font-size: 1.6em;
  font-weight: 100;
  color: white;
  border:2px solid white;
  line-height: 1.42;
  border-radius: 50%;
  background-color: inherit;
  margin: 0px 16px 10px 16px;
  transition: all 0.3s;
}

.btn-circle:hover {
  background-color: white;
  color: #34495E;
}

.link-button {
  width: 19em;
  height: 2em;
  font-size: 2.1em;
  border: 2px solid white;
  line-height: 1.42;
  border-radius: 30px;
  background-color: inherit;
  color: white;
  margin: 20px auto 0px auto;
  transition: all 0.3s;
  display: block;
  font-weight: 100;
  padding-top: 0.2em;
}

.link-button:hover {
  background-color: white;
  color: #34495E;
  text-decoration: none;
}

button:focus { outline-style: none; }


/*Projects page*/
.image-slides {
  height: 100%;
  width: 500px;
  opacity: 0.8;
  padding: 25px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: 0.5s;
}

.image-slides2 {
  display: none;
}

.column:hover .image-slides {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  cursor: pointer;
}

.project-titles {
  display: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.4s;
}

.project-titles h4 {
  font-size: 1.4em;
}

.hidden-git-link {
  display: none;
}

.project-description {
  display: none;
}

.projectsPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Create three equal columns that sits next to each other */
.column {
  position: relative;
}

#homeButton {
  position: absolute;
  top: 2%;
  left: 1%;
  text-align: center;
  font-size: 1.5em;
  width: 5.5em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0px;
}

#slider-wrap {
  position: relative;
  top: 2%;
  text-align: center;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#projectsWrap {
  width:100%
}

.myProjects {
  margin: 0px auto 1em auto;
  width: 95%;
  height: 30%;
}

/* The Modal (background) */

.modal::before {
  content: "";
  display: block;
  background-color:blue;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
   -webkit-filter: blur(5px);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);  */
}

/* Modal Content/Box */
.modal-content {
  background-color: #34495E;
  margin: 8% auto 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  height: auto;
}

.git-link {
  display: none;
  text-shadow: white 0px 0px 1px;
}

.git-link:hover {
    cursor:pointer;
    text-shadow: white 0px 0px 2px;
}

#bigProjectTitle {
  font-family: inherit;
  font-weight: 100;
  margin-top: 0px;
}

#bigProjectTitle .git-link {
  margin-top: 10px;
}

#bigProjectTitle .git-link h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 0px;
}

#bigProjectImage {
  width: 48%;
  margin: 15px 10px 15px 10px;
}

#bigProjectImage2 {
  width: 48%;
  margin: 15px 0px;
}

#bigProjectDesc {
  font-size: 1.3em;
  font-weight: 100;
  font-family: sans-serif;
}

/* The Close Button */
.close {
  color: whitesmoke;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-wrapper .text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  line-height: 30px;
  bottom:186px;
  left:0px;

  font-size: 18px;
  font-weight: 300;

  color: rgba(0,0,0,0.0);
  background-color:rgba(0,0,0,0.0);
  box-shadow: 0 0 0 0;
  border-radius: 2px;

  transition: all 0.2s ease-in;
}

.text-wrapper .text a {
  color: rgba(0,0,0,0.0);
  transition: all 0.2s ease-in;
}

.text-wrapper:hover .text {
  color: rgba(255,255,255,1);
  background-color:rgba(0,0,0,0.8);
  box-shadow: black 0 0 10px -1px;
}

.text-wrapper:hover .text a {
  color: rgba(255,255,255,1);
}

.nav-button {
  background: none;
  border: none;
  font-size: 5em;
  opacity: 1;
  color: white;
}

.imageDisplay {
  width: 100%;
}

.display-hidden {
  visibility: hidden;
}

.display-left {
  position: absolute;
  top: 30%;
  left: -3%;
  text-shadow: rgba(255, 255, 255, 0) 0 0 10px;
  transition: all 0.2s;
}

.display-right {
  position: absolute;
  top: 30%;
  right: -3%;
  text-shadow: rgba(255, 255, 255, 0) 0 0 10px;
  transition: all 0.2s;
}

.display-left:hover, .display-right:hover {
  text-shadow: white 0 0 10px;
}


/*Mobile devices in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation: portrait) {

  body {
    overflow-y: scroll;
  }

  #center-wrap {
    top: 8%;
  }

  #profile {
    width: 13.2em;
    height: 13.2em;
  }
  #title h1 {
    font-size: 8em;
  }

  #tagline {
    margin-top: 30px;
  }

  #tagline h4 {
    font-size: 2.8em;
    line-height: 55px;
  }

  .btn-circle {
    width: 3em;
    height: 3em;
    font-size: 3.7em;
    margin: 0px 22px 10px 22px;
  }

  .link-button {
    line-height: 2.15;
    height: 2.5em;
    font-size: 3.4em;
    font-weight: 300;
    margin-top: 50px;
  }
  .projectsMobile {
    margin-top: 18%;
  }

  #nav-icons {
    width: 100%;
    margin-top: 50px;
  }

  /* projects page */
  #homeButton {
    font-size: 2.5em;
  }

  #slider-wrap {
    width: 100%;
    height: 40%;
    top: 1%;
  }

  .project-titles h4 {
    font-size: 3.2em;
  }

  .image-slides {
    width: 80%;
  }

  .modal-content {
    width: 90%;
    height: auto;
    margin: 5% auto 15% auto;
  }

  .close {
    font-size: 3em;
  }
  #bigProjectTitle {
    font-size: 3.7em;
    margin: 5px 10px 0px 10px;
  }

  #bigProjectTitle .git-link {
    font-size: 1.7em;
    margin-top: 25px;
  }

  #bigProjectImage {
    width: 90%;
    margin: 10px auto;
    float: none;
  }

  #bigProjectImage2 {
    width: 90%;
    margin: 10px auto;
    float: none;
  }

  #bigProjectDesc {
    font-size: 2.3em;
    margin: 40px 10px;
    line-height: 1.5;
  }



  .text-wrapper {
    width: 100%;
  }
}

/*Mobile devices in landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 850px)
and (orientation: landscape) {

  body {
    overflow: auto;
  }

  #center-wrap {
    top: 3%;
  }

  #title h1 {
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

/*iPad & tablets in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait) {

  #slider-wrap {
    width: 92%;
    height: 50%;
    top: 5%;
  }

  .text-wrapper {
    width: 100%;
  }

  #corner {
    font-size: 2.5em;
  }

}



/*Large screens*/
/*@media only screen
and (min-device-width: 1700px) {
}*/
