html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  background-color: #34495E;
  background-size: cover;
  overflow-y: hidden;
}

#center-wrap {
  position: relative;
  top: 10%;
  text-align: center;
}


#title {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
}

#title h1 {
  font-size: 6.5em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

#nav-icons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

.btn-circle {
  cursor: pointer;
  width: 7.5em;
  height: 7.5em;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: white;
  border:2px solid white;
  line-height: 1.42;
  border-radius: 50%;
  background-color: inherit;
  margin: 0px 16px 10px 16px;
  transition: all 0.3s;
}

.btn-circle:hover {
  background-color: white;
  color: #34495E;
}

.btn-circle2 {
  width: 18em;
  height: 2em;
  font-size: 2.1em;
  border: 2px solid white;
  line-height: 1.42;
  border-radius: 30px;
  background-color: inherit;
  color: white;
  margin: 40px auto 0px auto;
  transition: all 0.3s;
  display: block;
  font-weight: 100;
  padding-top: 0.2em;
}

.btn-circle2:hover {
  background-color: white;
  color: #34495E;
  text-decoration: none;
}

button:focus { outline-style: none; }


/*Projects page*/
#corner {
  position: absolute;
  top: 2%;
  left: 1%;
  text-align: center;
  font-size: 1.5em;
  width: 5.5em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0px;
}

#slider-wrap {
  position: relative;
  top: 2%;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  width:100%
}

.myProjects {
  margin: 0px auto 1em auto;
  width: 95%;
  height: 30%;
}

.nav-button {
  background: none;
  border: none;
  font-size: 5em;
  opacity: 1;
  color: white;
}

.imageDisplay {
  width: 80%;
}

.display-left {
  position: absolute;
  top: 50%;
  left: -3%;
}

.display-right {
  position: absolute;
  top: 50%;
  right: -3%;
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1280px) {
  .imageDisplay {
    width: 75%;
  }
}

/*Mobile devices in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation: portrait) {

  #center-wrap {
    top: 2%;
  }

  #title h1 {
    font-size: 8em;
  }

  #nav-icons {
    width: 100%;
    margin-top: 0px;
  }

  .btn-circle {
    width: 92%;
    height: 2.6em;
    font-size: 5em;
    border: 2px solid white;
    line-height: 1.42;
    border-radius: 30px;
    background-color: inherit;
    color: white;
    margin: 55px auto 0px auto ;
    transition: all 0.3s;
    display: block;
  }

  #projectsBtn {
    width: 92%;
    height: 2.6em;
    font-size: 5em;
    border: 2px solid white;
    line-height: 1.42;
    border-radius: 30px;
    background-color: inherit;
    color: white;
    margin: 55px auto 0px auto ;
    transition: all 0.3s;
    display: block;
    padding-top: 0.6em;
  }
}

/*Large screens*/
/*@media only screen
and (min-device-width: 1700px) {

  #title h1 {
    font-size: 11em;
  }

  .btn-circle {
    width: 7em;
    height: 7em;
    font-size: 4em;
  }

  #center-wrap {
    top: 20%;
  }
}*/

/*iPad and Tablet screens*/
/*@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .btn-circle {
    width: 7em;
    height: 7em;
    font-size: 3.5em;
  }

  #center-wrap {
    top: 5%;
  }

}*/
