html {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif; 
  height: 100%;
  width: 100%;
  background-color: #34495E; 
  background-size: cover;
  overflow-y: hidden;
}

#center-wrap {
  /*min-height: 100%;*/
  position: relative;
  top: 20%;
  text-align: center;
  
}

#name {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
  text-transform: uppercase;
}

#name h1 {
  text-align: center;
  font-size: 6.5em;
  color: whitesmoke;
}

#nav-icons {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

#nav-icons button{
  text-align: center;
}

.btn-circle {
  text-transform: uppercase;
  cursor: pointer;
  width: 7.2em;
  height: 7.2em;
  text-align: center;
  font-size: 2em;
  border:2px solid white;
  line-height: 1.42;
  border-radius: 50%;
  background-color: inherit;
  color: white;
  margin: 10px;
  transition: all 0.3s;
}

.btn-circle:hover {
  background-color: white;
  color: #34495E;
}

button:focus { outline-style: none; }

#back-top {
  position: fixed;
  bottom: 20px;
  left: 45%;
  z-index: 2000;
  font-size: 1em;
  border: none;
  border-radius: 0;
  margin: 10px auto 10px auto;
  padding: 5px;
  transition: all 0.7s;
}

#back-top:hover {
  background-color:inherit;
  color: white;
  text-shadow: 1px 1px 2px white;
}

/*Large screens*/
@media only screen 
and (min-device-width: 1700px) {
  
  #name h1 {
    font-size: 11em;
  }
  
  .btn-circle {
    width: 7em;
    height: 7em;
    font-size: 4em;
  } 
 
  #center-wrap {
    top: 20%;
  }
}  

/*iPad and Tablet screens*/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) { 
  .btn-circle {
    width: 7em;
    height: 7em;
    font-size: 3.5em;
  }
  
  #center-wrap {
    top: 5%;
  }
  
}

/*iPhone 6 and Mid-size devices in portrait*/
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 736px) 
and (orientation: portrait) { 

  .btn-circle {
    width: 7em;
    height: 7em;
    font-size: 3.5em;
  }
  
  #name h1 {
    font-size: 4.5em;
  }


  body {
    overflow-y: auto;
  }
  
  #center-wrap {
    top: 2%;
  }
}

/*iPhone 6 and Mid-size devices in landscape*/
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 736px) 
and (orientation: landscape) { 

  #name h1 {
    font-size: 4em;
  }
  
  .btn-circle {
    width: 7.4em;
    height: 7.4em;
    font-size: 1.3em;
  }

  body {
    overflow-y: auto;
  }
  
  #center-wrap {
    top: 2%;
  }
}

@media only screen 
and (min-width : 640px) 
and (max-width : 910px) 
and (orientation: landscape) { 
  #center-wrap {
    top: 2%;
  }
  body {
    overflow-y: auto;
  }
}

