html {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif; 
  height: 100%;
  width: 100%;
  background-color: #34495E; 
  background-size: cover;
  overflow-y: hidden;
}

#center-wrap {
  /*min-height: 100%;*/
  position: relative;
  top: 20%;
  text-align: center;
  
}

#name {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
  text-transform: uppercase;
}

#name h1 {
  text-align: center;
  font-size: 6em;
  color: whitesmoke;
}

#nav-icons {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

#nav-icons button{
  text-align: center;
}

.btn-circle {
  text-transform: uppercase;
  cursor: pointer;
  width: 7em;
  height: 7em;
  text-align: center;
  font-size: 1.5em;
  border:2px solid white;
  line-height: 1.42;
  border-radius: 50%;
  background-color: inherit;
  color: white;
  margin: 10px;
  transition: all 0.3s;
}

.btn-circle:hover {
  background-color: white;
  color: #34495E;
}

button:focus { outline-style: none; }

#back-top {
  position: fixed;
  bottom: 20px;
  left: 45%;
  z-index: 2000;
  font-size: 1em;
  border: none;
  border-radius: 0;
  margin: 10px auto 10px auto;
  padding: 5px;
  transition: all 0.7s;
}

#back-top:hover {
  background-color:inherit;
  color: white;
  text-shadow: 1px 1px 2px white;
}

@media only screen 
and (min-device-width: 319px) 
and (max-device-width: 667px) 
and (orientation: portrait) { 
  .btn-circle {
    width: 6em;
    height: 6em;
    font-size: 3.9em;
  }
  
  #center-wrap {
    top: 5%;
  }
}

@media only screen 
and (min-device-height: 319px) 
and (max-device-height: 667px) 
and (orientation: landscape) { 
  #center-wrap {
    top: 0%;
  }
  
  #name h1 {
  font-size: 4.9em;
  }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 736px) 
and (orientation: portrait) { 
  .btn-circle {
    width: 7em;
    height: 7em;
    font-size: 4em;
  }
  
  #center-wrap {
    top: 5%;
  }
}

@media only screen 
and (min-device-height: 374px) 
and (max-device-height: 736px) 
and (orientation: landscape) { 
  #center-wrap {
    top: 0%;
  }
  
  #name h1 {
  font-size: 4.9em;
  }
}