body {
    min-height: 100%;
    width: 100%;
    background: url(background.jpg) no-repeat center center fixed; 
	background-size: cover;
    overflow-y: hidden;
}

#heading {
    margin: auto;
    width: 70%
}

#name {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#links {
    text-align: center;
}

.btn-default2 {
    background-color: transparent;
    background-repeat:no-repeat;
    border: 1px solid whitesmoke;
    
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: white;

    cursor:pointer;
    overflow: hidden;
    outline:none; 
    position: relative;
    
    margin: 10px;
    padding: 0px 15px;
    z-index: 1;
    -webkit-transition: 0.08s ease-in;

}

.btn-default2:hover {
    color: #383736;
    border: 1px solid #383736;
    
}

.btn-default2::before {
    content: "";
    position: absolute;
    background-color: white;
    
     
    right: 0;
	left: 0;
	top: 100%;
	bottom: 0;
	z-index: -1;
    -webkit-transition: top 0.15s ease;
}

.btn-default2:hover:before {
    top: 0;
}
