html {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif; 
  height: 100%;
  width: 100%;
  background-color: #34495E; 
  background-size: cover;
  overflow-y: hidden;
}

#center-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#name {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-transform: uppercase;
}

#name h1 {
  text-align: center;
  font-size: 45px;
  color: whitesmoke;
}

#nav-icons {
  min-height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btn-circle {
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 20px;
  border:2px solid white;
  line-height: 1.42;
  border-radius: 50%;
  background-color: inherit;
  color: white;
  margin: 10px;
}