body {
    background: url(background.jpg) no-repeat center center fixed; 
	background-size: cover;
    overflow-y: hidden;
}
			
#nav {
	position: relative;
	right: 40%;
	/*top: 0;*/
	margin: 0 auto;
	max-width: 200px;
}
			
#nav ul {
	list-style-type: none;
}
			
#nav ul li button {
	background: whitesmoke;
	border: 1px solid #383736;
	border-radius: 3px;
	padding: 6px 11px;
	margin: 40px 0px;
				
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #383736;
	letter-spacing:2px;
	text-transform: uppercase;
				
	position: relative;
	overflow: none;
	cursor: pointer;
	outline: 0;
	z-index: 1;
	-webkit-transition: 0.08s ease-in;
}
			
#nav ul li button:hover {
	color: whitesmoke;
}
			
#nav ul li button::before {
	content: "";
	position: absolute;
	background-color: #383736;
    
	right: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transition: right 0.15s ease;
}
				
#nav ul li button:hover:before {
	right: 0;
}
			
#about, #links, #contact {
	background: rgba(34,34,34,0.75);
    z-index: 20;
	max-width: 40%;
    max-height: 30%;
	padding: 5px 10px 2px 10px;
	margin: 0 auto;
	position: relative;
	/*right: -100px;*/
	bottom: 300px;
    left: 100px;

}

#links {
    display:none;
    clear: both;
}

#contact {
    display:none;
    clear: both;
}
			
#about h3 {
	padding: 0px;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: whitesmoke;
}
			
#about p {
	padding-top: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: whitesmoke;
}

/*#links {
	display: none;
	background: rgba(34,34,34,0.75);
	max-width: 400px;
	padding: 5px 10px 2px 10px;
	margin: 0 auto;
	position: relative;
	right: -100px;
	bottom: -100px;
	clear: both;
} */
			
#links h3 {
	padding: 0px;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: whitesmoke;
}

#links ul {
	padding: 0px;
}

#links li {
	display:inline;
	padding-right: 15px;
}

#links li a:link {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: whitesmoke;
	text-decoration: none;
	display:inline-block;
	/*Transition*/ 
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	
}

#links li a:visited {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: whitesmoke;
	text-decoration: none;
	/*Transitions*/ 
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	
}

#links li a:active {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: AliceBlue;
	text-decoration: none;
	/*Transitions*/ 
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease;
}

#links li a:hover {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: AliceBlue;
	text-decoration: none;
	padding: 6px;
	/*Glow*/ -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

/* #contact {
	display: none;
	background: rgba(34,34,34,0.75);
	width: 400px;
	padding: 5px 10px 2px 10px;
	margin: 0 auto;
	position: relative;
	right: -100px;
	bottom: -100px;
	clear: both;
	
} */

#contact h3 {
	padding: 0px;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: whitesmoke;
}

#contact form {
	padding-top: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: whitesmoke;
}

#contact form input {
	margin-left: 10px;
}
#contact form input[name="email"] {
	width: 220px;
	
}
